<div class="form">
    <ul class="questions">
        <li class="list list-image required">
            <div class="wrapper">
                <div class="pre-question">{{question.pretext}}</div>

                <div class="question">
                    <span>{{question.question}}</span>
                </div>
              <div class="post-question">{{question.posttext}}</div>
                <div class="content">
                    <div class="content-wrapper">
                        <slider step="1">
                            <slider-range model="f.value" ng-repeat="f in question.type.attributes.ANSWERS">
                                <div class="slider-handle"></div>
                            </slider-range>
                        </slider>

                        <div style="margin:50px 0; color:#fff; max-width: 600px;">
                            <div class="row" ng-repeat="f in question.type.ANSWERS">
                                <div class="col-xs-12 ng-binding">{{ f.title }} {{f.value}}%</div>
                                <div class="col-xs-12">
                                    <p class="slider-box-indicator box-{{$index}}" style="width: {{f.value}}%"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>
        <div ng-include="'/views/directives/okbutton.html'"></div>
    </ul>
</div>
