<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css" />
  <link rel="stylesheet" href="bower_components/angular-rateit/dist/ng-rateit.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <style>
    form .alert {display: none;}
    table[md-data-table] > thead > tr > th > div[trim] {
      min-width: 100px!important;
    }
    md-sidenav.md-locked-open {
      min-width: 200px;
      width: 200px;
      max-width: 200px;
    }
    md-sidenav.md-sidenav-right {
      min-width: 500px;
      width: 500px;
      max-width: 500px;
    }
    md-sidenav.md-locked-open {
      min-width: 200px;
      width: 200px;
      max-width: 200px;
    }
  </style>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    .menu-toggle-list {
      margin: 0;
      padding: 0;
    }

    .menu-toggle-list button {
      width: 100%;
      margin: 0 0;
      padding: 5px 0;
    }
    .ng-hide:not(.ng-hide-animate), {
      display: none !important;
    }

    table[md-data-table]>thead:not([md-table-progress])>tr>th[trim] {
      min-width: 100px;
    }

    table[md-data-table][md-row-select]>tbody>tr>td:nth-child(n+3):nth-last-child(n+2), table[md-data-table][md-row-select]>tfoot>tr>td:nth-child(n+3):nth-last-child(n+2), table[md-data-table][md-row-select]>thead:not([md-table-progress])>tr>th:nth-child(n+3):nth-last-child(n+2) {
      padding: 0 10px;
    }


    iframe.doc {
      width: 800px;
      height: 500px;
      border: none;
      background-color: white;
    }

    td.rejected {
      background-color: rgba(255, 0, 0, 0.2);
    }
    td.accepted {
      background-color: rgba(0, 255, 0, 0.2);
    }
  </style>
</head>
<body ng-app="surveyTreeModuleApp" ng-cloak layout="column">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <img src="images/logo-vivos.png">
  </div>
</md-toolbar>
<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <ul class="menu-toggle-list">
      <li>
        <md-button disabled>Vacancies</md-button>
      </li>
      <li>
        <md-button>Candidates</md-button>
      </li>
      <li>
        <md-button disabled>Recruiters</md-button>
      </li>
    </ul>
  </md-sidenav>
  <div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
      <md-card ng-view></md-card>
    </md-content>
  </div>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <div ng-controller="ProfileCtrl">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{profile.firstName}}</h1>
      </md-toolbar>
      <md-content layout-padding layout="column" flex>
        <div layout="column" layout-padding>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>CV</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="title">
              <md-button ng-click="showCV($event, profile)"  title="Launch CV" aria-label="CV" class="md-primary md-raised">
                Open CV
              </md-button>
            </div>
          </div>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Profile Image</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <img style="max-width: 300px; width: 100%" ng-src="{{profile[35]}}">
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>First Name</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[2]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Family Name</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[3]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>DOB</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[4]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Address</h4>
            </div>
            <div layout="row" flex="100" class="content">
              <p ng-repeat="itm in profile[5] track by $index" ng-bind="itm"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Telephone Number (including area code)</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[6]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Correspondance Email</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[7]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>LinkedIn profile (optional)</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[8]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Skype profile (optional)</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[9]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>ICA India Membership Number</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[10]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <h4>======== Education: High School =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Name of High School</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[36]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Year of Graduation</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[37]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>What percentile did you achieve in 12th Standard?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[38]"></p>
            </div>
          </div>



          <div layout="column" class="group">
            <h4>======== Education: Graduation =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Name of University</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[14]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Discipline</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[15]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - Graduation Discipline</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[45]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Year of Graduation</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[16]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Result</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[17]"></p>
            </div>
          </div>



          <div layout="column" class="group">
            <h4>======== Education: Post Graduation (Masters) =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Do you have a post graduate (Masters) qualification?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[18]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Name of University</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[19]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Discipline</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[20]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - Masters Discipline</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[46]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Year of Graduation</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[21]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Result</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[22]"></p>
            </div>
          </div>



          <div layout="column" class="group">
            <h4>======== Articleship =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Where did you complete your articleship?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[23]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>What was the nature of your primary clients in your articleship?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[24]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>What department did you complete your articleship in primarily?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[25]"></p>
            </div>
          </div>



          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - Articleship department</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[47]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - final performacne rating</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[48]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>What was your performance rating in your final year of your training</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[26]"></p>
            </div>
          </div>


          <div layout="column" class="group">
            <h4>======== Accountancy Qualification =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Are you a qualified Chartered Accountant?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[11]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>What year did you qualify?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[12]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>How many attempts did it take you to complete the final accounting exams?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[13]"></p>
            </div>
          </div>




          <div layout="column" class="group">
            <h4>======== Professional Experience =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Please select the category that best reflects your clients over the last 12-24 months</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[27]"></p>
            </div>
          </div>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Please list the primary company types that you have had exposure with (in priority order)</h4>
            </div>
            <div layout="row" flex="100" class="content">
              <p ng-repeat="itm in profile[39] track by $index" ng-bind="itm"></p>
            </div>
          </div>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - client category</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[49]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - Primary Company type 1</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[50]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - Primary Company type 2</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[51]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Other - Primary Company type 3</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[52]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <h4>======== Technical Experience =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>IFRS</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[40]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>US GAAP</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[41]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>IAS</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[42]"></p>
            </div>
          </div>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Sarbanes Oxley - SOX</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[43]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <h4>======== Language =========</h4>
          </div>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>How would you rate your proficiency in written English?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[44]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>How would you rate your proficiency in verbal English?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[28]"></p>
            </div>
          </div>


          <div layout="column" class="group">
            <h4>======== Essay =========</h4>
          </div>


          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Essay</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[53]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <h4>======== Travel & Availability =========</h4>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Are you willing and available to relocate to Ireland for a minimum of 2 years?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[31]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>What is your notice period?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[32]"></p>
            </div>
          </div>

          <div layout="column" class="group">
            <div layout="row" flex="100" layout-align="start center" class="title">
              <h4>Is there any reason you know of why your Irish Visa Application could be denied?</h4>
            </div>
            <div layout="row" flex="100" layout-align="start center" class="content">
              <p ng-bind="profile[33]"></p>
            </div>
          </div>






        </div>

        <!--<div layout="row" ng-repeat="(key, value) in profile">-->
        <!--<div flex="50" ng-bind="key"></div><div flex="50" style="text-align: right" ng-bind="value"></div>-->
        <!--</div>-->
        <md-button ng-click="close()" class="md-primary">
          Close
        </md-button>
      </md-content>
    </div>
  </md-sidenav>
</div>






<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
            (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
          r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51079990-1');
  ga('send', 'pageview');

</script>

<script>
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/PBVTQFmJJE89LyUrtplFw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  //
  // UserVoice Javascript SDK developer documentation:
  // https://www.uservoice.com/o/javascript-sdk
  //

  // Set colors
  UserVoice.push(['set', {
    accent_color: '#e2753a',
    trigger_color: 'white',
    trigger_background_color: 'rgba(46, 49, 51, 0.6)'
  }]);

  // Identify the user and pass traits
  // To enable, replace sample data with actual user traits and uncomment the line
  UserVoice.push(['identify', {
    //email:      'john.doe@example.com', // User’s email address
    //name:       'John Doe', // User’s real name
    //created_at: 1364406966, // Unix timestamp for the date the user signed up
    //id:         123, // Optional: Unique id of the user (if set, this should not change)
    //type:       'Owner', // Optional: segment your users by type
    //account: {
    //  id:           123, // Optional: associate multiple users with a single account
    //  name:         'Acme, Co.', // Account name
    //  created_at:   1364406966, // Unix timestamp for the date the account was created
    //  monthly_rate: 9.99, // Decimal; monthly rate of the account
    //  ltv:          1495.00, // Decimal; lifetime value of the account
    //  plan:         'Enhanced' // Plan name for the account
    //}
  }]);

  // Add default trigger to the bottom-right corner of the window:
  UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right' }]);

  // Or, use your own custom trigger:
  //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

  // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
  UserVoice.push(['autoprompt', {}]);
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="bower_components/angular-rateit/dist/ng-rateit.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-upload/angular-upload.js"></script>
<script src="bower_components/eydis-gapi/eydis-gapi-signin.js"></script>
<script src="bower_components/eydis-gapi/eydis-gapi.js"></script>
<script src="bower_components/moment/moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services/api.js"></script>
<script src="scripts/services/api_client.js"></script>
<script src="scripts/services/api_admin.js"></script>
<script src="scripts/services/templates.js"></script>
<script src="scripts/services/utils.js"></script>
<script src="scripts/controllers/results.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/welcome.js"></script>
<script src="scripts/directives/file_upload.js"></script>
<script src="scripts/directives/validation.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/services/profile.js"></script>
<!-- endbuild -->
<script src="https://apis.google.com/js/client.js?onload=_gapi_load_callback"> </script>
</body>
</html>
