


<!-- FOOTER -->
<div class="footer navbar-inverse">
  <div class="container">
    <div class="footer-text">
      vivos.me&copy;2015
    </div>
  </div>
</div>





<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--<script src="js/custom.js"></script>-->
<!--<script src="js/bootstrap.validator.js"></script>-->

<!--<script>-->
  <!--$('form').bootstrap3Validate(function(e, data) {-->
    <!--e.preventDefault();-->

    <!--alert(JSON.stringify(data));-->
  <!--});-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
