<div class="row longform">
  <!-- ng-if to test for isolate scopes to work -->
  <form name="defaultForm" novalidate="true">

    <div ng-repeat="(key, value) in survey track by $index">
      <div class="form-group" ng-class="{'col-xs-6': value.halfWidth, 'col-xs-12': !value.halfWidth }" form-group-id="{{value.id}}">
        <ul class="questions">
          <li class="list required" ng-class="{'list-image': value.picture}">
            <div class="wrapper">
              <div class="pre-question" ng-bind="value.pretext"></div>

              <div class="question"><span ng-bind="value.question"></span><span class="optional" ng-hide="value.type.attributes.REQUIRED"> (optional)</span></div>
              <div class="form-validation-{{value.id}}"></div>
              <div class="post-question"><span ng-bind-html="value.posttext"></span></div>
              <div class="content">

                <!-- INPUT FIELD-->

                <div class="content-wrapper" ng-if="value.isInput">
                  <label class="control-label"></label>
                  <input $index}} type="{{value.inputType}}" ng-model="answers[value.id]" ng-required="value.type.attributes.REQUIRED" placeholder="Enter here" class="form-control v-text-inputs v-short-text" >
                </div>

                <!-- END INPUT FIELD -->

                <!-- DROP_DOWN FIELD-->

                <div class="content-wrapper" ng-if="value.type.type === 'DROP_DOWN'">
                  <label class="control-label"></label>
                  <select ng-options="obj.alt as obj.title for obj in value.type.attributes.ANSWERS" ng-model="answers[value.id]" ng-required="value.type.attributes.REQUIRED" class="form-control" ng-class="{'active': answers[value.id]}">
                    <option value="">-- choose --</option>
                  </select>
                </div>

                <!-- END DROP_DOWN FIELD -->

                <!-- DATE_PICKER FIELD-->

                <div class="content-wrapper" ng-if="value.type.type === 'DATE_PICKER'">
                  <label class="control-label"></label>
                  <input type="date" ng-model="dates[value.id]" ng-change="setDate(value.id)" ng-required="value.type.attributes.REQUIRED" placeholder="Enter here" class="form-control v-text-inputs v-short-text" >
                </div>

                <!-- END DATE_PICKER FIELD -->



                <!-- PICTURE CHOICE -->
                <div class="content-wrapper"  ng-if="value.type.type === 'PICTURE_CHOICE'">
                  <ul class="container-options">
                    <li ng-repeat="c in value.type.attributes.ANSWERS"
                        class="content-option"
                        ng-class="{ selected: c.alt == answers[value.id] }" key="{{answers[value.id]}}">

                      <input type="radio" ng-required="value.type.attributes.REQUIRED" ng-value="c.alt" name="{{ ('value_' + value.id) }}" ng-model="answers[value.id]">

                      <div class="tick-wrapper"></div>
                      <span class="tick"></span>
                      <div class="image-wrapper">
                        <img ng-src="{{ c.image || 'http://www.lidapaukert.com/images/accounting.jpg' }}" alt="{{c.title}}">
                      </div>
                      <div class="text">
                        <div class="label">
                          <!--<div class="letter" ng-class="{ active: c.alt == answers[$index] }">-->
                          <!--<span>{{c.key.toUpperCase()}}</span>-->
                          <!--</div>-->
                          <div class="caption">
                            <strong>{{c.title}}<br> {{c.subtitle}}</strong>
                          </div>
                        </div>
                      </div>


                    </li>
                  </ul>
                </div>

                <!-- END PICTURE CHOICE-->

                <!-- MULTIPLE CHOICE -->
                <div class="content-wrapper"  ng-if="value.type.type === 'MULTIPLE_CHOICE'">
                  <ul class="container-options">
                    <li ng-repeat="c in value.type.attributes.ANSWERS"
                        class="content-option"
                        ng-class="{ selected: answers[value.id][$index] }" key="{{c.alt}}">

                      <label>
                        <input type="checkbox"  ng-true-value="{{c.alt}}" ng-false-value="null" ng-model="answers[value.id][$index]">

                      </label>
                      <div class="tick-wrapper"></div>
                      <span class="tick"></span>
                      <div class="text">
                        <div class="label">
                          <!--<div class="letter" ng-class="{ active: c.alt == answers[$index] }">-->
                          <!--<span>{{c.key.toUpperCase()}}</span>-->
                          <!--</div>-->
                          <div class="caption">
                            <strong>{{c.title}}<br> {{c.subtitle}}</strong>
                          </div>
                        </div>
                      </div>



                    </li>
                  </ul>
                </div>

                <!-- END MULTIPLE CHOICE-->

                <!-- BOOLEAN -->

                <div class="content-wrapper boolean" ng-if="value.type.type === 'BOOLEAN'">
                  <ul class="container-options">
                    <li ng-repeat="c in value.type.attributes.ANSWERS"
                        ng-click="onUserClick($event, c)"
                        class="content-option option{{$index}}"
                        ng-class="{ selected: c.alt == answers[value.id] }">
                      <a>

                        <input type="radio" ng-required="value.type.attributes.REQUIRED" name="{{ 'value' + value.id}}" ng-model="answers[value.id]" ng-value="c.alt"/>

                        <div class="tick-wrapper"></div>
                        <span class="tick"></span>
                        <div class="text">
                          <div class="label">

                            <div class="caption text-center">
                              <strong>{{c.title}}<br> {{c.subtitle}}</strong>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

                <!-- END BOOLEAN -->


                <!-- LONG_TEXT-->

                <div class="content-wrapper" ng-if="value.type.type === 'LONG_TEXT'">
                  <textarea ng-model="answers[value.id]" placeholder="Enter text here..." class="v-text-inputs v-long-text" ></textarea>
                </div>

                <div class="content-wrapper" ng-if="value.type.type === 'ADDRESS'">
                  <input type="text" ng-model="answers[value.id][0]" ng-required="value.type.attributes.REQUIRED" placeholder="Address 1" class="form-control v-text-inputs v-short-text">
                  <input type="text" ng-model="answers[value.id][1]" ng-required="value.type.attributes.REQUIRED" placeholder="Address 2" class="form-control v-text-inputs v-short-text">
                  <input type="text" ng-model="answers[value.id][2]" ng-required="value.type.attributes.REQUIRED" placeholder="City" class="form-control v-text-inputs v-short-text">
                </div>
                <!-- END LONG_TEXT -->

                <!-- FILE_UPLOAD -->

                <div class="content-wrapper file-upload" ng-if="value.type.type === 'FILE_UPLOAD'" v-file-upload="doUpload">
                  <input type="file">
                  <button ng-click="onButtonClick(value.id)" class="btn btn-warning btn-large">Upload</button>
                  <a class="btn btn-primary pull-left preview-link" ng-show="answers[value.id]" href="{{answers[value.id]}}" class="document">File Preview</a>
                </div>

                <!-- END FILE_UPLOAD -->

              </div>

            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix" ng-show="value.id % 2 !== 0"></div>
    </div>

    <div class="col-xs-8 col-xs-offset-2">
      <button ng-show="survey" ng-click="submit()"
              class="btn btn-warning btn-lg pull-right  ng-hide">Submit Form
      </button>
      <span ng-bind="errors" ng-show="errors"></span>
    </div>

  </form>


</div>


