

<!-- ############################################ DELETE HEADER ABOVE ########################################### -->

<form class="form-validation" name="vivosForm" novalidate="true" ng-submit="setSession()" layout="column" layout-margin>
  <div layout="row" layout-padding>
    <h4>Login to Admin Panel</h4>
    <span class="ng-hide" ng-bing="error" ng-show="error" style="color:red"></span>
  </div>
  <div layout="row" layout-padding>
    <md-input-container flex="40">
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
  </div>
  <div layout="row" layout-padding>
    <md-input-container flex="40">
      <label>Password</label>
      <input ng-model="user.password" type="password">
    </md-input-container>
  </div>
  <div layout="row" layout-padding>
    <md-button class="md-raised md-primary" type="submit">Login</md-button>
  </div>

</form>
