
<!-- ############################################ DELETE HEADER ABOVE ########################################### -->



<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3>Welcome to Vivos!</h3>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <br>
      <p>Hello and welcome to the application process for the Ireland - India Program in partnership with ICAI, CPA Ireland and facilitated by Barden.</p>
      <p>We want to gather a little information from you to help employers in Ireland better appreciate your experience and to give you the best chance at gaining a place on the 2015/16 program.</p>
      <p>We are using Vivos for all applications to the programme. You will need to create a Vivos profile in the next step in order to apply to the programme.</p>
      <p>The application process should take no more than 10 minutes and once it has been fully completed an Associate at Barden will review your application and let you know within 10 working days if you have been selected to progress to the next stage in the process.</p>


      <button class="btn btn-warning" ng-click="onContinue()">Continue</button>

    </div>



  </div>
</div>


<style>
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>

  <!-- ############################################ DELETE FOOTER BELOW ########################################### -->
